@import url('./global.css');

body {
  background-color: #eeffaa;
}

.operation-link,
.operation-link:visited {
  display: block;
  color: #f5fdff;
  background-color: #03162f;
  border-block-end: 1px solid #d0fbfb;
  border-inline-start: 0.6em solid #040b20;
  padding-block: 1.5em;
  padding-inline-start: 0.5em;
}

:is(.main-op-item):first-child > :is(.operation-link, .operation-link:visited) {
  border-block-start: 1px solid #d0fbfb;
}

/*@media (min-width: 200px) {

}*/

.load-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  animation-name: rotation;
  animation-duration: 9500s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black black;
  border-radius: 20px;
  animation-fill-mode: both;
}

@keyframes rotation {
  from {
    transform: rotate(-9999999deg);
  }

  to {
    transform: rotate(9999999deg);
  }
}

.operation-link:hover {
  background-color: black;
  border-inline-start: 0.6em solid #fff900;
}

.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  /*gap: 5px;*/
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: brown;
}

.main-section-wrapper {
  overflow: auto;
}

.main-header {
  font-size: 1em;
  color: springgreen;
}

.main-navbar {
  background-color: black;
}

.main-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  list-style: none;
  transition: transform 0.5s cubic-bezier(0.32, 1.65, 0.21, 1.03),
    opacity 0.5s cubic-bezier(0, 1.09, 0.1, 0.87);
  transform: translateY(0);
  opacity: 1;
  background-color: transparent;
}

@media (max-width: 780px) {
  .closed {
    z-index: -1;
    transform: translateY(-100%);
    opacity: 0;
  }
}

.burger-container {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-btn {
  display: block;
  position: relative;
  width: 3em;
  cursor: pointer;
  padding-inline-start: 0.655em;
}

.menu-btn::before,
.menu-btn::after {
  display: block;
  height: 4px;
  content: '';
  transition: transform 0.5s ease-in-out;
  background-color: #ffffff;
}

.menu-btn:before {
  box-shadow: 0 10px 0 #ffffff;
}

.menu-btn:hover::before,
.menu-btn:hover::after {
  background-color: #f69f02;
}

.menu-btn:hover::before {
  box-shadow: 0 10px 0 #f69f02;
}

.checkbox-input:not(:checked) + .menu-btn:before {
  margin-bottom: 1em;
}

.checkbox-input:checked + .menu-btn:before {
  transform: translateY(0.1em) rotate(495deg);
  box-shadow: none;
}

.checkbox-input:checked + .menu-btn:after {
  transform: translateY(-0.1em) rotate(-495deg);
}

.checkbox-input {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
  opacity: 0;
}

.menu-btn-text {
  flex: 1;
  align-self: stretch;
  text-align: center;
  background: black;
  padding-block: 0.4555em;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1em;
  z-index: 100;
  overflow: hidden;
  background-color: #c1eccd;
  box-shadow: -1px -1px 1px 0 #717171;
}

.logout:hover {
  background-color: #350000;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.chart {
  width: 100%;
  font-family: 'Ubuntu', serif;
  font-size: 1.1em;
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 780px) {
  .content-wrapper {
    display: grid;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-template-columns: 0.5fr 2fr;
  }

  :is(.checkbox-input, .menu-btn) {
    display: none;
  }

  .main-navbar {
    height: 100%;
  }

  .main-menu {
    position: relative;
    z-index: 100;
  }
}

@media (min-width: 800px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
