<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mybank.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.mybank.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurrentAccountsServlet</servlet-name>
        <servlet-class>com.mybank.controller.CurrentAccountsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentAccountsServlet</servlet-name>
        <url-pattern>/currentAccounts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SavingAccountsServlet</servlet-name>
        <servlet-class>com.mybank.controller.SavingAccountsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavingAccountsServlet</servlet-name>
        <url-pattern>/savingAccounts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mybank.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Error404Servlet</servlet-name>
        <servlet-class>com.mybank.controller.Error404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error404Servlet</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglib.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
